abaqus_script.py
.ipynb_checkpoints
__pycache__
*.egg-info
*.log
*.ipynb
*.rpy*
*.rec
*.com
*.dat
*.inp
*.prt
*.sta
*.msg
*.swp
*.sim
*.023
*.cax
*.mdl
*.jnl
*.stt
*.odb
*.cae
*.exception
*.tmp
*.csv
*.lck
*.pdf
*.png
*.pgf
test.pickle
abaqus.rpt
*.env
*.SMABulk
*.cid
*.simdir
*.simlog
*.ipm
*.geo
*.msh
*.jpg
