.ipynb_checkpoints
__pycache__
*.egg-info
*.log
*.rpy*
*.rec
*.com
*.dat
*.inp
*.prt
*.sta
*.msg
*.swp
*.sim
*.023
*.cax
*.mdl
*.jnl
*.stt
*.odb
*.cae
*.exception
*.tmp
*.csv
*.lck
*.pdf
*.png
*.pgf
abaqus.rpt
*.env
*.SMABulk
*.cid
*.simdir
*.simlog
*.ipm
abaqus_postscript.py
build
.nfs*
